<!DOCTYPE html>
<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/chorus.js" type"text/javascript"></script>
  <title> Chorus-Login </title>
</head>
<body class="login-body">

  <!-- Login card -->
  <div class="demo-card-event mdl-card mdl-shadow--2dp">
    <div class ="everything_else">
      <div class="mdl-card__title">
        <h1 class="title-text chorus-login">Chorus</h1>
      </div>

      <div class="login-text">Login</div>
      <!-- user name text field -->
      <div class="login-input" action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="username">Username</label>
          <input class="mdl-textfield__input" type="text" id="username">
        </div>
      </div>

      <!-- password text field -->
      <div class="login-input" action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="password">Password</label>
          <input class="mdl-textfield__input" type="password" id="password">
        </div>
      </div>
      <div class= "login">
        <!-- Log-in button -->
        <button id="login-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Log in
        </button>
      </div>
      <div class= "register">
        <!-- Log-in button -->
        <a href="/register" class="mdl-button mdl-js-button mdl-button--accent">
          Register Now
        </a>
      </div>
    </div>
  </div>
</body>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</html>
