<!DOCTYPE html>
<html>
<head>
  <title>Chorus</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <script src="/js/chorus.js" type"text/javascript"></script>

</head>
<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
    <header class="mdl-layout__header mdl-color--light-blue-500">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <a href="/" class="mdl-layout-title">Chorus</a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title mdl-color-text--grey-500">Chorus</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a id="my-group" class="mdl-navigation__link">My Group</a>
        <a class="mdl-navigation__link" href="/edit-profile">Edit Profile</a>
        <a id="logout" class="mdl-navigation__link">Sign Out</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <!-- PAGE CONTENT STARTS HERE -->
      <div class="main-content">
        <h1 class="home-title">Switch Groups</h1>

        <div class="mdl-grid center-items">

          <!-- INCOMPLETED CHORES LIST -->
          <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <button class="group-btn mdl-button mdl-js-button mdl-button--raised">
              (Default) SD-APT
            </button>
            <button class="group-btn mdl-button mdl-js-button mdl-button--raised">
              BAY-HOME
            </button>
            <button class="group-btn mdl-button mdl-js-button mdl-button--raised">
              VACATION HOME MUHAHAHAA
            </button></div>
          </div>


        </main>
      </div>
      <div id="fab_ctn" class="float-add-chore mdl-button--fab_flinger-container">
        <a id="fab_btn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i id="add-chore-icon" class="material-icons">add</i>
        </a>
        <div class="mdl-button--fab_flinger-options">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">account_circle</i></button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">content_copy</i></button>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">close</i></button>
              </div>
            </div>
    </body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
    (function () {
        var VISIBLE_CLASS = "is-showing-options",
            fab_btn  = document.getElementById("fab_btn"),
            fab_ctn  = document.getElementById("fab_ctn"),
            showOpts = function(e) {
              var processClick = function (evt) {
                if (e !== evt) {
                  fab_ctn.classList.remove(VISIBLE_CLASS);
                  fab_ctn.IS_SHOWING = false;
                  document.removeEventListener("click", processClick);
                  $("#add-chore-icon").text('add');
                  $('#fab_btn').attr("href", "/add-chore");
                }
              };
              if (!fab_ctn.IS_SHOWING) {
                  e.preventDefault();
                fab_ctn.IS_SHOWING = true;
                fab_ctn.classList.add(VISIBLE_CLASS);
                document.addEventListener("click", processClick);
                $("#add-chore-icon").text('mode_edit');
                  $('#fab_btn').attr("href", "");
              }
            };
        fab_btn.addEventListener("click", showOpts);
    }.call(this));
    </script>
    </html>
