body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
}
a,
button,
span,
div,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
}



/*
 * Login page
 */

.login-body {
  background-image: url("/images/chorus_background.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #534741;
}

.vert {
  width: 100%;
  height: 100%;
}

.intro-text {
  font-family: 'Lobster', cursive;
  color: white;
  margin: 0px;
  font-size: 80px;
}

.intro-sub-text {
  font-family: 'Lobster', cursive;
  margin: 0px;
  color: white;
  font-size: 38px;
}
.signup-text {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-weight: regular;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.intro-block {
  padding-top: 12%;
}

.login-block {
  padding-top: 19%;
}

.entry-box {
  width: 70%;
  height: 42px;
  margin: 10px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  padding: 5px;
  padding-left: 12px;
  font-size: 18px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

}

.login-btn {
  width: 65%;
  height: 55px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: white;
  background-color: #534741;
  padding: 0px;
  border-radius: 8px;
  border-color: #534741;
  border-style: solid;
  margin: 10px;

}

.find-group-text {
  padding-top: 8%;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding-bottom:50px;
}

.find-group-block {
  height: 75%;
  margin-left: 20px;
  margin-top: 50px;
}

.chorus-text-fg {
    font-family: 'Lobster', cursive;
    padding-left: 20px;
}
.logout-btn-fg {
  padding-bottom: 20px;
}



/*
 * Dashboard page
 */
 .chorus-menu-title {
   font-family: 'Lobster', cursive;
 }
  .person-icon {
    font-weight: 100;
  }

  .chore-text {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
  }


 #cancel:hover {

    cursor: pointer;

 }
.group-btn {
}
#float-add-chore {
      position: fixed;
      display: block;
      right: 25px;
      bottom: 25px;
      z-index: 900;
}
.incomplete {
  background: #EF5350;
  color: white;
}

.mdl-layout-title {
  color: white;
  text-decoration: none;
}

.complete {
  background: #2196F3;
  color: white;
}
.mdl-layout__content {
  background: #EEEEEE;
}
.my-chores-btn {
  padding: 20px;
  width: 300px;
  margin:0,auto;
  text-align: left;
}

.center-btn {
  padding: 20px;
  text-align: center;
}

.chore-item {
  background-color: #CFD8DC;
  border: none;
  color: #263238;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.add-chore-btn {
  padding: 0px;
  margin: 0px;
}
.mdl-layout__content {
  text-align: center;
  display: block;
}
.mdl-grid{
  justify-content: center;
}

.mdl-cell {
  background-color: #ECEFF1;
}

.chore-list ul {
  /*  padding-left: 70px;
  padding-bottom: 20px; */
  display:inline-block;
}

.home-title {

  color: #455A64;
}
.assign-to {
  margin:auto;
  padding-bottom: 15px;
  padding-top: 15px;
}
.chore-entry {

  margin:auto;
  margin-bottom: 30px;
}
.add-chore-form {
  padding: 20px;
  text-align: center;
  display: block;
}

.done {
  text-align: center;
  margin: auto;
  width: 40%;
}

.todo-table-title {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.chore-check {
  padding-left: 20px;
}

.login-box {
  background-color:rgba(255,255,255,0.4);
  border-radius:20px;
  width:80%;
  padding:0px;
  margin: auto;
  margin-top:0px;
}

/*
  Modal CSS
*/
.assigned-people {
  padding: 20px;
}
.bruh-button {
  width: 200px;
}
.details-card {
  margin-left: 30px;
  margin-right: 30px;
  margin: 0, auto;
  text-align: center;
}
.dialog-container,
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.dialog-container > .x-btn {
    position: relative;

    width: 100%;
    max-width: 500px;
    min-height: 25px;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 5px;

}

.dialog-container > .x2-btn {
    position: relative;
    background-color: rgba(224,224,224,0.9);
    display: block;
    max-width: 500px;
    min-height: 10px;
    margin: 2% auto;
}


.dialog-container > .mdl-card {
    position: relative;
    width: 90%;
    max-width: 500px;
    min-height: 25px;
    margin: 8% auto;
    margin-bottom: 1%;
    z-index: 99999;
    padding: 10px 10px 30px 30px;

}

.dialog-container > .long-modal {
    position: relative;
    width: 90%;
    max-width: 500px;
    min-height: 25px;
    margin: 2% auto;
    margin-bottom: 1%;
    z-index: 99999;
    padding: 16px 16px 30px 30px;

}

.dialog-button-bar {
    text-align: center;
    margin-top: 8px;
}

.loading-container > div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 9% auto;
    z-index: 99999;
}



.loading-container > div > div {
    width: 100%;
    height: 100%;
}
